{% extends 'PiFrontBundle::Layout.html.twig' %}
{% block content %}
<div class="contact">
    <div class="container">
        <h3 class="agileits-title"> Votre Email a été envoyé !!! </h3>



    </div>
</div>

{% endblock %}