{% extends "@FOSUser/layout.html.twig" %}

{% block content %}
<div class="contact">
    <div class="container">
    <h3 class="agileits-title">Profile</h3>
<div class="col-md-5 contact-left">

{% include "@FOSUser/Profile/show_content.html.twig" %}

</div>
    </div>
</div>
{% endblock %}
