{% extends "layoutAdmin.html.twig" %}
{% block container %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="layouta">Home</a><i class="fa fa-angle-right"></i>Calendar</li>
    </ol>
    <!-- grids -->
    <div class="grids">



        <div class="agile-calendar-grid">
            <div class="page">

                <div class="w3l-calendar-left">
                    <div class="calendar-heading">

                    </div>
                    <div class="monthly" id="mycalendar"></div>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- //grids -->
{% endblock %}